In [2]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler 
from sklearn.decomposition import PCA
df = pd.read_csv (r'C:\Users\vansh\Desktop\Book\COMP90051\Assignment 1\train.csv')
df1 = pd.read_csv (r'C:\Users\vansh\Desktop\Book\COMP90051\Assignment 1\test.csv')
df.head()

,s_id,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 952,Unnamed: 953,Unnamed: 954,Unnamed: 955,Unnamed: 956,Unnamed: 957,Unnamed: 958,Unnamed: 959,Unnamed: 960,lables
0,1,-1.8226,8.51070,-0.53551,-2.03440,2.2282,2.04870,-5.81380,-4.4169,2.3129,...,-5.74060,12.5650,41.23100,-6.77570,1.72780,15.9120,23.583000,3.9158,35.7250,1
1,2,1.2816,-0.49410,-0.19667,1.05510,-1.9280,1.07120,-0.19667,-4.6669,3.8230,...,-20.50300,47.7540,2.88560,-6.86660,6.29350,-4.8789,-1.300100,-1.4275,-3.4192,1
2,3,-2.0304,-0.27552,-0.58236,-5.95250,7.3550,2.16640,-4.71510,17.1580,15.5120,...,-10.71800,-4.5436,1.38680,-5.32100,-6.08350,-1.3021,-10.569000,-4.2189,-1.6538,1
3,4,-1.0026,0.41320,0.62058,-0.34226,-0.2027,-0.92619,0.61123,-2.0824,-3.5442,...,-2.90100,4.5538,-0.77261,4.25520,0.27911,4.7744,-5.695200,-18.7410,58.3810,1
4,5,1.2754,25.84200,5.80000,2.89000,3.1957,4.45040,5.99760,-6.4947,2.9189,...,-0.97276,3.8810,7.13330,0.70157,-1.69570,1.2263,-0.093752,-1.7140,2.5131,1

In [3]:
df.shape

(9388, 962)

In [23]:
X = df.iloc[:,1:961].values
Xt = df1.iloc[:,1:961].values
y = df.iloc[:,961].values

In [24]:
#print(Xt)
print(y)

[ 1  1  1 ... 49 49 49]

In [6]:
df.dropna(how="all", inplace=True)
X.shape

(9388, 960)

In [7]:
X_std = StandardScaler().fit_transform(X)
#X_std
Xt_std = StandardScaler().fit_transform(Xt)
#Xt_std

In [8]:
pca = PCA(.95)
pca.fit(X_std)

PCA(n_components=0.95)

In [9]:
reduced = pca.fit_transform(X_std)
reduced.shape

(9388, 172)

In [10]:
a = pd.DataFrame(reduced.shape)
a = a.iloc[1:,0].values
a = a[0]
print(a)

172

In [11]:
pca = PCA(n_components = a)
pca.fit(Xt_std)
reduced2 = pca.fit_transform(Xt_std)

In [13]:
reduced2 = pd.DataFrame(reduced2)
reduced2.head()

,0,1,2,3,4,5,6,7,8,9,...,162,163,164,165,166,167,168,169,170,171
0,0.880839,-4.910223,-2.217026,-4.095382,1.990291,-0.320239,3.444052,2.258262,-3.209390,-0.927825,...,0.127895,-0.317623,0.843823,0.159433,0.047389,0.268116,0.289188,-0.177913,-0.312349,-0.038182
1,-33.418265,52.448757,8.584065,-3.702928,4.623700,-2.797864,-6.566010,0.578034,2.242778,-11.714979,...,-0.624490,-0.304565,0.158404,0.747687,-0.241269,-0.038605,0.115899,0.236453,-1.403034,-0.785582
2,0.651523,-2.514603,4.909783,4.287016,-3.843097,0.223324,0.848711,2.911398,-3.648909,-0.526383,...,-0.021966,0.053772,-0.058075,-0.023436,-0.008878,-0.062572,0.039971,0.092517,-0.025840,0.010921
3,10.934190,2.498354,18.560416,7.058077,0.185726,2.152927,-8.607993,0.123869,14.629055,3.469707,...,0.321503,-0.776772,0.191155,-1.005195,-0.944213,-0.876913,-1.227369,0.478337,0.123222,0.451757
4,-1.430452,-1.731867,10.914315,7.377211,-5.516296,-1.309721,-1.971173,-5.417054,0.407181,4.738639,...,-0.259743,0.479766,0.829216,0.900501,-1.141532,1.222215,0.452313,-1.695914,-0.392326,-1.489823

In [29]:
test = reduced2.iloc[:,0:2].values
print(test)

[[  0.88083908  -4.91022307]
 [-33.418265    52.44875739]
 [  0.65152311  -2.51460347]
 ...
 [-11.17143845   2.44949347]
 [  1.79579425   1.88736214]
 [  3.04226779  -6.83578986]]

In [45]:
y = pd.DataFrame(y, columns = ['lables'])
extracted_col = y["lables"]
test = pd.DataFrame(test, columns = ['PCA1','PCA2]')
test = test.join(extracted_col)
test.head()

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (<ipython-input-45-5aff0044bc71>, line 3)

In [ ]:
)
test = test.insert(2,y)
test.head()
df4 = pd.DataFrame(np.random.rand(100, 2),
           columns =['a', 'b'])
df.plot.scatter(x ='a', y ='b');