In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv (r'C:\Users\vansh\Desktop\Book\COMP90051\Assignment 1\train.csv')
df.head()

,s_id,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 952,Unnamed: 953,Unnamed: 954,Unnamed: 955,Unnamed: 956,Unnamed: 957,Unnamed: 958,Unnamed: 959,Unnamed: 960,lables
0,1,-1.8226,8.51070,-0.53551,-2.03440,2.2282,2.04870,-5.81380,-4.4169,2.3129,...,-5.74060,12.5650,41.23100,-6.77570,1.72780,15.9120,23.583000,3.9158,35.7250,1
1,2,1.2816,-0.49410,-0.19667,1.05510,-1.9280,1.07120,-0.19667,-4.6669,3.8230,...,-20.50300,47.7540,2.88560,-6.86660,6.29350,-4.8789,-1.300100,-1.4275,-3.4192,1
2,3,-2.0304,-0.27552,-0.58236,-5.95250,7.3550,2.16640,-4.71510,17.1580,15.5120,...,-10.71800,-4.5436,1.38680,-5.32100,-6.08350,-1.3021,-10.569000,-4.2189,-1.6538,1
3,4,-1.0026,0.41320,0.62058,-0.34226,-0.2027,-0.92619,0.61123,-2.0824,-3.5442,...,-2.90100,4.5538,-0.77261,4.25520,0.27911,4.7744,-5.695200,-18.7410,58.3810,1
4,5,1.2754,25.84200,5.80000,2.89000,3.1957,4.45040,5.99760,-6.4947,2.9189,...,-0.97276,3.8810,7.13330,0.70157,-1.69570,1.2263,-0.093752,-1.7140,2.5131,1

In [2]:
df.shape

(9388, 962)

In [3]:
df.lables.value_counts()

3     590
9     586
6     580
8     580
2     579
10    579
1     578
5     577
4     571
7     570
13    196
12    195
20    195
16    194
19    193
17    193
14    190
18    190
11    190
15    190
21     98
27     98
24     98
26     98
28     97
23     97
22     97
29     97
25     96
30     95
33     49
40     49
38     49
37     49
31     49
32     48
35     48
39     48
34     48
36     47
42     25
48     24
47     24
41     24
49     24
44     24
45     24
46     24
43     24
Name: lables, dtype: int64

In [4]:
X = df.iloc[:,1:961].values 
y = df.iloc[:,961].values

In [5]:
#pip install imbalanced-learn

In [6]:
from imblearn.over_sampling import SMOTE
smote = SMOTE()

In [7]:
X_train_smote, y_train_smote = smote.fit_sample(X.astype('float'),y)

In [8]:
from collections import Counter
print("Before SMOTE :" , Counter(y))
print("After SMOTE :" , Counter(y_train_smote))

Before SMOTE : Counter({3: 590, 9: 586, 6: 580, 8: 580, 2: 579, 10: 579, 1: 578, 5: 577, 4: 571, 7: 570, 13: 196, 12: 195, 20: 195, 16: 194, 17: 193, 19: 193, 11: 190, 14: 190, 15: 190, 18: 190, 21: 98, 24: 98, 26: 98, 27: 98, 22: 97, 23: 97, 28: 97, 29: 97, 25: 96, 30: 95, 31: 49, 33: 49, 37: 49, 38: 49, 40: 49, 32: 48, 34: 48, 35: 48, 39: 48, 36: 47, 42: 25, 41: 24, 43: 24, 44: 24, 45: 24, 46: 24, 47: 24, 48: 24, 49: 24})
After SMOTE : Counter({1: 590, 2: 590, 3: 590, 4: 590, 5: 590, 6: 590, 7: 590, 8: 590, 9: 590, 10: 590, 11: 590, 12: 590, 13: 590, 14: 590, 15: 590, 16: 590, 17: 590, 18: 590, 19: 590, 20: 590, 21: 590, 22: 590, 23: 590, 24: 590, 25: 590, 26: 590, 27: 590, 28: 590, 29: 590, 30: 590, 31: 590, 32: 590, 33: 590, 34: 590, 35: 590, 36: 590, 37: 590, 38: 590, 39: 590, 40: 590, 41: 590, 42: 590, 43: 590, 44: 590, 45: 590, 46: 590, 47: 590, 48: 590, 49: 590})

In [9]:
X_train_smote.shape

(28910, 960)